@charset "utf-8";
@import 'compass';
body#login
{
  padding: 0rem;
  margin: 0rem;

  #bg-overlay
  {
    background-image: url("../img/bg-1.jpg");
  }

}
body.appear-animate
{
  nav.main-nav
  {
    .nav-logo-wrap h3
    {
      margin: 0rem;
    }
  }
  .container.relative
  {
    ul.pagination
    {
      span.current
      {
        background-color: rgba(13,130,248,.8);
        color: #ffffff;
        &:hover,&:focus
        {
          background-color: rgba(0,5,10,.5);
          cursor: pointer;
        }
      }
    }
    .col-sm-8
    {
      .row.multi-columns-row
      {
        .post-prev-title
        {
          text-align: center;
          font-weight: 600;
          font-size: 23px;
        }
        .post-prev-info
        {
          text-align: center;
          font-size: 16px;
        }
        .post-prev-text
        {
          ul
          {
            list-style: none;
            li
            {
              padding: 1rem;
              @include display-flex(flex);
              span i
              {
                margin: 0rem 1rem;
              }
              a.btn
              {
                text-decoration: none;
              }
            }
          }

        }
      }

    }
    .blog-item
    {
      .blog-item-body
      {
        h1,.blog-item-data
        {
          text-align: center;
          vertical-align: middle;
        }
      }
    }
    div.img-pagebtn
    {
      text-align: center;
      vertical-align: middle;
    }
  }
}
@media(min-width: 768px) {
  .container.relative
  {
    .post-prev-img
    {
      img
      {
        height: 30rem;
      }
    }
  }
}