@charset "utf-8";
@import "compass";
#content-container{
  .breadcrumb
  {
    margin-top: 1.5rem;
  }
  .page-title
  {
    margin-left: 1rem;
    margin-right: 1rem;
    .caption
    {
      float: left;
      display: inline-block;
      padding: .5rem 0rem;
    }
    .action
    {
      float: right;
      display: inline-block;
      padding: .5rem 0rem;
      a.btn
      {
        margin: 20px 0rem 10px 0rem;
        border:1px solid transparent;
        @include border-radius(0rem 50% 0rem 50%);
      }
    }
  }
.panel-body
{
  table.table
  {
    tbody
    {

      td:last-child
      {
        text-align: center;
        vertical-align: middle;
        a.btn
        {
          margin-right: .5rem;
          padding: .1rem .5rem;
          @include border-radius(10%);
          &:hover,&:focus
          {
            @include box-shadow(2px 2px 5px rgba(0,0,0,.6));
          }
        }
      }
    }
  }
  fieldset.form-group .btn-group
  {
    button,a.btn
    {
      margin-right: 1rem;
    }
  }
}
  #create_article
  {
    fieldset.form-group .thumb-image
    {
      position: relative;
      cursor: pointer;
      border:none !important;

      p
      {
        position: absolute;
        left: 12%;
        top: 50%;
      }
    }
  }
  #sel-articleimg
  {
    .sel-img-content
    {
      height: 20rem;
      overflow-y: scroll;
    }
    .col-sm-2.active::before
    {

        z-index: 100;
        background-color: #00a2ed;
        @include border-radius(4px);
        bottom: 20px;
        color: #fff;
        content: '\f00c';
        font-family: "FontAwesome";
        padding: 2px 5px;
        position: absolute;
        right: 8px;
    }
  }
}
@media(min-width: 768px) {
  #sel-articleimg
  {
    .sel-img-content img
    {
      height: 5rem;
    }
  }
}